name: BCM_API_update_SRV_95

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted, linux]

    env:
      APP_NAME: bcm-api-app
      IMAGE_NAME: bcm-content-api
      BASE_PATH: /adsaenv/adsa/app/adsaweb
      REPO_NAME: sa-bcm-api
      BRANCH: main

    steps:
      - name: Deploy remoto en servidor
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOSTNAME_95 }}
          username: ${{ secrets.SSH_USERNAME_95 }}
          key: ${{ secrets.SSH_PRIVATE_KEY_95 }}
          script: |
           set -e

           echo "=== INICIANDO DEPLOY ==="

           cd /adsaenv/adsa/app/adsaweb

           # Backup si existe
           if [ -d  sa-bcm-content-api ]; then
             echo "Creando respaldo..."
             mv  sa-bcm-content-api  sa-bcm-content-api_$(date +'%Y%m%d-%H%M')
           fi

           echo "Clonando repositorio..."
           #git clone -b $BRANCH https://${{ secrets.GH_ACCESS_KEY_JALS }}@github.com/joseantonio-lpz/sa-bcm-event-consumer-svc.git
           git clone -b main https://${{secrets.GH_ACCESS_KEY}}@github.com/jeacor/sa-bcm-content-api.git

           cd sa-bcm-content-api

           echo "Deteniendo contenedor si existe..."
           docker stop bcm-api-app 2>/dev/null || true
           docker rm bcm-api-app 2>/dev/null || true

           echo "Eliminando imagen anterior..."
           docker rmi bcm-content-api 2>/dev/null || true

           echo "Construyendo imagen Docker..."
           docker build -t bcm-content-api .

           #echo "Creando archivo .env temporal..."
           #cat <<EOF > .env
           #  DB_SERVER=${{secrets.DB_SERVER}}
           #  DB_PORT=${{secrets.DB_PORT}}
           #  DB_SID=${{secrets.DB_SID}}
           #  DB_USER=${{secrets.DB_USER}}
           #  DB_PASS=${{secrets.DB_PASS}}
           #  ASPNETCORE_ENVIRONMENT=PROD
           #EOF

           #echo "Levantando contenedor..."
           #docker run -d \
           #  --env-file .env \
           #  -p 4400:8080 \
           #  -v dataprotection-keys:/root/.aspnet/DataProtection-Keys \
           #  --name bcm-api-app \
           #  --restart unless-stopped \
           #  bcm-content-api

           echo "Levantando contenedor..."
           docker run -d \
           -e ASPNETCORE_ENVIRONMENT=PROD \
           -e DB_SERVER=${{secrets.DB_SERVER}} \
           -e DB_PORT=${{secrets.DB_PORT}} \
           -e DB_SID=${{secrets.DB_SID}} \
           -e DB_USER=${{secrets.DB_USER}} \
           -e DB_PASS=${{secrets.DB_PASS}} \
           -p 4400:8080 \
           -v dataprotection-keys:/root/.aspnet/DataProtection-Keys \
           --name bcm-api-app \
           --restart unless-stopped \
           bcm-content-api
           
           echo "Verificando contenedor..."
           docker ps -a

           echo "Eliminando archivo .env por seguridad..."
           rm -f .env

           echo "=== DEPLOY FINALIZADO ==="
