name: Prueba de conexion al servidor 
on:
  #### push: cambio de automatico a manual
  workflow_dispatch:
    branches:
      - main # O la rama que desees

jobs:
  deploy:
    runs-on: [self-hosted, linux]

    env:
        ORACLE_SID: ${{secrets.DB_SID}}
        DB_PORT: ${{secrets.DB_PORT}}
        DB_USER: ${{secrets.DB_USER}}
        DB_PASSWORD: ${{secrets.DB_PASS}}
        APP_NAME: bcm-api-app
        IMAGE_NAME: bcm-content-api
        BASE_PATH: "/adsaenv/adsa/app/adsaweb"
        REPO_NAME: sa-bcm-api
        BRANCH: main
        
    steps:
      - name: Copiar código
        uses: actions/checkout@v3
      - name: mi secreto
        run: echo ${{secrets.DB_SID}}
      - name: hola  
        run: echo "Hola"
        
      - name: Añadir clave SSH al agente
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{secrets.SSH_PRIVATE_KEY_95}} # Usa el nombre del secreto que creaste   
     
      - name: Conectar y ejecutar comandos en el servidor
        uses: appleboy/ssh-action@master
        env:
          REPO_NAME2: "sa-bcm-api"

        with:
          host: ${{secrets.HOSTNAME_95}} # Tu nombre de host
          username: ${{secrets.SSH_USERNAME_95}} # Tu nombre de usuario
          key: ${{secrets.SSH_PRIVATE_KEY_95}} # Clave privada
          script: |
            pwd
            echo "Creando archivo .env temporal..."
            cat <<EOF > .env
             DB_SERVER=${{secrets.DB_SERVER}}
             DB_PORT=${{secrets.DB_PORT}}
             DB_SID=${{secrets.DB_SID}}
             DB_USER=${{secrets.DB_USER}}
             DB_PASS=${{secrets.DB_PASS}}
             ASPNETCORE_ENVIR=PROD
            EOF

            echo "prueba de conexion servidor 10.34.8.95"
            echo " HOLA sin espacio"
            echo ${{secrets.DB_SID}}
            echo " HOLA con espacio"
            echo ${{ secrets.DB_PORT }}
            echo " HOLA 3"
            echo $DB_PASSWORD
            echo " HOLA 4"
            echo '$DB_USER'
            echo "Hola  5"
            echo "" fin""
            echo "path: $BASE_PATH "
            echo "Repo name: $REPO_NAME"
            echo "Repo name: $REPO_NAME2"
            echo " PATH : $ASPNETCORE_ENVIR"
            # Puedes agregar aquí otros comandos, como npm install, composer install, etc.
              sleep 20
           
