name: WFM_Event_Consumer_PRD_SRV_95 --- sa-wfm-event-consumer-svc ---
on:
  workflow_dispatch:
    branches:
      - main # Aqui va la rama
jobs:
  deploy:
    runs-on: [self-hosted, linux]

    steps:
      - name: Copiar código
        uses: actions/checkout@v3

      - name: Añadir clave SSH al agente
        uses: webfactory/ssh-agent@v0.4.1
        with:
         ssh-private-key: ${{secrets.SSH_PRIVATE_KEY_95}} # Clave privada

      - name: Conectar y ejecutar comandos en el servidor
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.HOSTNAME_95}} 	# Nombre de host
          username: ${{secrets.SSH_USERNAME_95}} # nombre de usuario
          key: ${{secrets.SSH_PRIVATE_KEY_95}} # Clave privada
          script: |
            echo "### path servidor 95 ###"
            cd /adsaenv/adsa/app/adsaweb
            pwd
            ls -lrt 
            echo "###  respaldo del repositorio del servidor ###"
            mv sa-wfm-event-consumer-svc /adsaenv/adsa/app/adsaweb/sa-wfm-event-consumer-svc_$(date +'%Y%m%d-%H%M')
            ls -lrt 
            echo '### Clonar el repositorio sa-wfm-event-consumer-svc ###'
            git clone -b pet-2025 https://${{secrets.GH_ACCESS_KEY}}@github.com/jeacor/sa-wfm-event-consumer-svc.git
            echo '### Repositorio clonado ###' 
            ls -lrt
            sleep 20
            echo '### Detener y eliminar el Contenedor wfm-event-consumer ###'
            docker ps
            docker stop wfm-event-consumer-container
            sleep 20
            docker rm wfm-event-consumer-container
            echo '### eliminimar la imagen ###'
            docker images
            sleep 20
            docker rmi wfm-event-consumer
            docker images
            echo '### Ejecutar el build y el deploy ###'
            cd /adsaenv/adsa/app/adsaweb/sa-wfm-event-consumer-svc
            ls -lrt
            docker build -t wfm-event-consumer .
            sleep 40
            docker run -d -p 8182:8080 --name wfm-event-consumer-container wfm-event-consumer
            sleep 20
            echo '### contenedores corriendo ###'
            docker ps -a
            echo '###### Enviar correo ######'
            cd /home/GIT
            docker ps -a > deploy.txt
            echo >> deploy.txt; echo '##### Logs del contenedor Productivo sa-wfm-event-consumer-svc #####' >> deploy.txt; echo >> deploy.txt
            docker logs wfm-event-consumer_container >> deploy.txt
            mail -s "Deploy realizado proyecto PRD  wfm-event-consumer" joseantonio.lopez@seccionamarilla.com < deploy.txt
            echo '###### fin del workflow ######'
