name: BCM_Service_Deploy_PRD_SRV_95 --- sa-bcm-event-consumer-svc ---
on:
  workflow_dispatch:
    branches:
      - main # Aqui va la rama
jobs:
  deploy:
    runs-on: [self-hosted, linux]

    steps:
      - name: Copiar código
        uses: actions/checkout@v3

      - name: Añadir clave SSH al agente
        uses: webfactory/ssh-agent@v0.4.1
        with:
         ssh-private-key: ${{secrets.SSH_PRIVATE_KEY_95}} # Clave privada

      - name: Conectar y ejecutar comandos en el servidor
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.HOSTNAME_95}} 	# Nombre de host
          username: ${{secrets.SSH_USERNAME_95}} # nombre de usuario
          key: ${{secrets.SSH_PRIVATE_KEY_95}} # Clave privada
          script: |
            echo "### path servidor 95 ###"
            cd /adsaenv/adsa/app/adsaweb
            pwd
            ls -lrt 
            echo "###  respaldo del repositorio del servidor ###"
            mv sa-wfm-event-consumer-svc /adsaenv/adsa/app/adsaweb/sa-bcm-event-consumer-svc_$(date +'%Y%m%d-%H%M')
            ls -lrt 
            echo '### Clonar el repositorio sa-bcm-event-consumer-svc ###'
            #git clone -b pet-2025 https://${{secrets.GH_ACCESS_KEY}}@github.com/jeacor/sa-wfm-event-consumer-svc.git
            git clone -b main https://${{secrets.GH_ACCESS_KEY_JALS}}@github.com/joseantonio-lpz/sa-bcm-event-consumer-svc.git
            echo '### Repositorio clonado ###' 
            ls -lrt
            sleep 20
            echo '### Detener y eliminar el Contenedor  bcm-event-consumer-app ###'
            docker ps
            docker stop  bcm-event-consumer-app
            sleep 20
            docker rm  bcm-event-consumer-app
            echo '### eliminimar la imagen  bcm-event-consumer-app ###'
            docker images
            sleep 20
            docker rmi  bcm-event-consumer
            docker images
            echo '### Ejecutar el build y el deploy ###'
            cd /adsaenv/adsa/app/adsaweb/sa-bcm-event-consumer-svc
            ls -lrt
            docker build -t bcm-event-consumer .
            sleep 40
            docker run -d -p  8188:8088 -e SPRING_PROFILES_ACTIVE=PROD --name bcm-event-consumer-app bcm-event-consumer
            sleep 20
            echo '### contenedores corriendo  bcm-event-consumer-app ###'
            docker ps -a
            echo '###### Enviar correo ######'
            cd /adsaenv/adsa/app/adsaweb
            docker ps -a > deploy.txt
            echo >> deploy.txt; echo '##### Logs del contenedor Productivo bcm-event-consumer-app #####' >> deploy.txt; echo >> deploy.txt
            docker logs bcm-event-consumer-app >> deploy.txt
            mail -s "Deploy realizado proyecto PRD  bcm-event-consumer-app" joseantonio.lopez@seccionamarilla.com < deploy.txt
            echo '###### fin del workflow ######'
